.Start{
    background-color: cornflowerblue; display: inline; border-radius: 10px;
    font-size: 30px;
}

.MOK{
    width: 100%;
    height: 200px;  
    margin: auto;
    padding: 1px;
}
.Image{
    width: 15%;
   height: 200px;
   float: right;
    text-align:right;  
    background-color:burlywood;

}
.About{ background-color: chocolate;
    font-size: 120%;
    width: 85%;
    border-radius: 10px; 
    padding-top: 2px ; margin: left 1px;
    height: 200px;
}

.Who{
    background-color: thistle;
    font-size: 120%;
    border-radius: 10px;  
}
.Contributions{
    width: auto;
}
.Bgimage{
    background-image: url("../Day-5/Images/MokshiBG.jfif");
    background-repeat: no-repeat;
    background-position: center;
    background: size 10px;
    
}
.Contribute{
   
   font-size: 120%;
   border-radius: 10px;
}
.Musk{background-color: cadetblue;
    font-size: 120%;
    width: 85%;
    border-radius: 10px; 
    padding-top: 2px ; margin: left 1px;
    height: 200px;

}
.MI{ width: 100%;
    height: 200px; 
    margin: auto;
    padding: 1px;
}
.muskimage{ width: 15%;
   height: 200px;
   float: right;
    text-align:right;  
    background-color:cadetblue;
}
.EI{ width: 100%;
    height: 200px; 
    margin: auto;
    padding: 1px;
}
.Edisonimage{ width: 15%;
   height: 180px;
   float: right;
    text-align:right;  
    background-color:burlywood;
}
.Edison{background-color: blanchedalmond;
    font-size: 120%;
    width: 85%;
    border-radius: 10px; 
    padding-top: 2px ; margin: left 1px;
    height: 200px;
}
.DI{ width: 100%;
    height: 220px; 
    margin: auto;
    padding: 1px;

}
.davinciimage{width: 15%;
   height: 150px;
   float: right;
    text-align:right;  
    background-color:burlywood;
}
.Davinci{ background-color: tomato;
font-size: 120%;
border-radius: 5px;
}
.TI{width: 100%;
    height: 200px; 
    margin-bottom: 5px;
    padding:1px;
}
.NteslaImage{width: 15%;
   height: 200px;
   float: right;
    text-align:right;  
    background-color:burlywood;
}
.Nicola{background-color: darkgoldenrod;
font-size: 120%;
border-radius: 5px;
}

.AI{width: 100%;
    height: 250px; 
    margin-top:1px;
    padding: 1px;
}
.Archimedesimage{width: 15%;
   height: 200px;
   float: right;
    text-align:right;  
    background-color:burlywood;
}

.Archimedes{background-color: black;
font-size: 120%;
border-radius: 5px;
color: white;
height: 200px;
}
a{
text-decoration: none;
/* font-size: 20px; */
font-size: 5vh;
}
.Awards{
font-size: 3vw;
color:red;
letter-spacing:5px;
text-shadow: 2px 5px black;
}
.para{
font-family:cursive;
border-width: 5px;
border-style: double;
border-color:blue;
line-height: 30px;
letter-spacing: 5px;
color: teal;
white-space: wrap;
background-color:wheat;
}

.wrap{
overflow: scroll;
background-color: yellow;
height:150px;
width: 100px;   
}
.iframediv{ 
height: 250px;
width: 400px;
margin: auto;
}
h1{color: green;
font-size: 100px;
text-align: center;
text-shadow: 2px 5px yellow;
}
.master{
background-color:limegreen;
}